body {
    font-family: 'Roboto Slab', serif;
    margin: 0;
}
.btn-style{
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    background-color: tomato;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
}

.slide-show h1{
    font-size: 45px;
    margin-bottom: 5px;
}

.slide-show{
    background-image: url(images/donation5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}
.bg-opacity{
    background-image: linear-gradient(to right, rgba(2, 2, 2,.75), rgba(3, 3, 3, .95));
    background-size: cover;
    height: 700px;
}
.slide-show-contents{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    color: white;
    position: relative;
    top: 40%;
    
}
.p-width{
    padding: 0 12vw;
    font-size: 12px;
}

